.stats-container {
  display: flex;
  margin: 20px 30px 20px 30px;
  justify-content:flex-start;

}

.stat-selection-container {

  display: flex;
  flex-direction: column;
  margin: 5px 12px 5px 5px;
  flex-grow: 0;

}

/* DIVERGED FROM ORIGINAL NAME, NOW IS MORE OF A SELECTION-SPAN*/
.stat-span {

  min-width: 185px;
  margin: 2px 1px 2px 1px;
  border:none;
  padding: 0px 12px 0px 6px;
  height: 25px;
  font-size: 14px;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  border-radius: 2px;
  border: 1px solid rgba(119,36,50,0.25);

}

.stat-span:hover {
  font-weight: bold;
  box-shadow: 0 5px 10px rgba(119,36,50,0.19), 0 3px 3px rgba(119,36,50,0.23);
  color: rgb(119,36,50);
  background-color: rgba(119,36,50,0.05);
}

.stat-span-active {
  font-weight: bold;
  border: 1px solid;
  color: rgb(119,36,50);
  background-color: rgba(119,36,50,0.15);
}

.span-col {
  display: flex;
  flex-grow: 0;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

}

.chart-section-container {
    flex-grow: 1;
    margin: 5px;
    align-self: flex-start;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 2px;
    transition: box-shadow .3s ease-in-out;
    background-color: #fff;
    margin: 5px 5px 5px 12px;
    font-size: 18px;
    border: 1px solid rgba(119,36,50,0.25);
    display: flex;
    flex-direction: column;

}

.chart-section-container:hover{
  box-shadow: 0 10px 20px rgba(119,36,50,0.19), 0 6px 6px rgba(119,36,50,0.23);
  color: rgb(119,36,50);

}


.chart-container {
  margin:0px 24px 12px 12px;
  padding: 0px 10px 0px 10px;

  border:1px solid;
}

.data-selection-container {
  margin: 2px 5px 2px 5px;
  align-items: center;
  flex-grow: 0;
flex-shrink: 0;

}


/* RESPONSIVENESS FIXES */
@media (max-width: 1000px) {
  .stat-selection-container {
order: 2;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;

  }
  .span-col {
    flex-wrap: nowrap;
  }

  .stats-container {
    flex-wrap: wrap;
    justify-content: center;
    margin:10px;
  }
}

@media (max-width: 400px) {

  .span-col {
    flex-wrap: wrap;
    justify-content: center;
  }

  .stats-container {
    margin:0;

  }

  .container-fluid {
    margin: 0px;
  }

}
