.trophy-container {

  flex-wrap: wrap;
display: flex;
margin:5px 0px 5px 0px;
padding: 10px;
margin: 5px;


}

.trophy-room-container {
  display: flex;
  margin: 20px 40px 20px 50px;
  justify-content:flex-start;
}


.trophy-button-container {
  display: flex;
  flex-direction: column;
  margin: 5px 10px 5px 5px;
  border-right: 1

}

.trophy-section-container {
margin: 5px 5px 5px 10px;


}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: .75em 1em;
    padding: 0;
}

.trophy-button-title {
  min-width: 200px;
  border:none;
  padding: 0px 24px 0px 12px;
  color: #616161;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 40px;

}

.trophy-title {
  min-width: 200px;
  border:none;
  padding: 0px 24px 0px 12px;
  color: #616161;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 40px;

}


.trophy-button {
  min-width: 200px;
  border:none;
  padding: 0px 24px 0px 12px;
  color: #616161;
  height: 25px;
  font-size: 14px;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
line-height: 25px;

}

.trophy-span-active {
  font-weight: bold;
  box-shadow: 0 5px 10px rgba(119,36,50,0.19), 0 3px 3px rgba(119,36,50,0.23);
  color: rgb(119,36,50);
  background-color: rgba(119,36,50,0.05);

}

.trophy-button:hover {
  font-weight: bold;
  box-shadow: 0 5px 10px rgba(119,36,50,0.19), 0 3px 3px rgba(119,36,50,0.23);
  color: rgb(119,36,50);
  background-color: rgba(119,36,50,0.05);
}
