footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: rgb(119,36,50);
  color: rgb(139,110,74);
  text-align: center;
  font-family: Gotham;
  font-size: 1.6rem;
}

footer a {
  color: rgba(139,110,74, 1);

}
footer a:hover {
  color: rgb(167,158,112);

}
