@font-face {
  font-family: 'Gotham';
  src: url('./../assets/fonts/Gotham Book Regular.otf');
}
.parallax {
    /* The image used */
    background-image: url('./../assets/mansion.jpg');


    /* Set a specific height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20px;


}


.title {
  text-align: center;
  margin-top: 20px;
  color:black;
  opacity: 100%;
  background-color: rgba(255,255,255,0.0);
  border-radius: 4px;
  font-family: Gotham;
}
.container .jumbotron, .container-fluid .jumbotron {
  padding-left: 20px;
  padding-right: 20px;
}
.jumbotron .h1, .jumbotron h1 {
  color: rgb(167,158,112);
  font-size: 14rem;
  font-weight: bold;
  text-shadow: 3px 3px rgba(119,36,50, .7);
  font-family: Gotham;
}

.jumbotron .h1, .jumbotron h3 {
  font-size: 9rem;
  color: rgb(167,158,112);
  text-shadow: 2px 2px rgba(119,36,50, .9);
  font-family: Gotham;
}

@media(max-width: 1000px){

  .jumbotron .h1, .jumbotron h1 {
    font-size: 8rem;

  }
  .jumbotron .h1, .jumbotron h3 {
    font-size: 6rem;

  }

}

@media(max-width: 600px){

  .jumbotron .h1, .jumbotron h1 {
    font-size: 6rem;

  }
  .jumbotron .h1, .jumbotron h3 {
    font-size: 4rem;

  }

}


.hover-container:hover h1{
  -webkit-transition: text-shadow .5s ease;
-moz-transition: text-shadow .5s ease;
-o-transition: text-shadow .5s ease;
transition: text-shadow .5s ease;
  text-shadow: 4px 4px rgb(119,36,50);
}
.hover-container:hover h3{
  -webkit-transition: text-shadow .5s ease;
-moz-transition: text-shadow .5s ease;
-o-transition: text-shadow .5s ease;
transition: text-shadow .5s ease;
  text-shadow: 3px 3px rgb(119,36,50);
}
.disable-scroll{
  overflow: hidden;

}
